header {
  padding: 20px;
  background-color: #8b2635;
  color: #fefcfb;
  text-shadow: 1px 1px 3px #fefcfb;
  box-shadow: 2px 2px 20px #151e3f;
  margin-bottom: 50px;
}

main {
  color: #fefcfb;
  background-color: #4e6766;
  border-radius: 6px;
  box-shadow: 5px 5px 30px #151e3f;
}

main div {
  margin-bottom: 20px;
}

#question-output {
    margin-top: 20px;
}

.answer-btn {
  font-size: 1.5em;
  margin: 20px;
}

.control-btn {
  font-size: 2em;
}

.hide {
  display: none;
}
